/*Segoe UI font */
* { font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 1; line-height: 26.4px; }





/* Add a black background color to the top navigation */
.topnav {
  background-color: #5e5e5e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid #aaaaaa;
}

.topnav a:hover {
  border-bottom: 3px solid #1a9aea;
}

.topnav a.active {
  border-bottom: 3px solid #1a9aea;
  background-color: black;
}

.topnav a {
  border-right: 2px solid #aaaaaa;
}


/* Style the search box inside the navigation bar */
.search input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 16px;
}




