/*Segoe UI font */
* { font-family: Segoe UI; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 13.2px; } h3 { font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 19.99px; } blockquote { font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 29.99px; } pre { font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.57px; }



/* Add a black background color to the top navigation */
.topnav {
  background-color: #5e5e5e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid gray;
}

.topnav a:hover {
  border-bottom: 3px solid #1a9aea;
}

.topnav a.active {
  border-bottom: 3px solid #1a9aea;
  background-color: black;
}

.topnav a {
  border-right: 2px solid gray;
}


/* Style the search box inside the navigation bar */
.search input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 16px;
}


