iframe {
    border: 1px solid black;
    width: 100%;
}

.output {
    background: #eee;
}

ul {

  list-style-type: none;

  margin: 0;

  padding: 0;

  overflow: hidden;

  background-color: #5a3d83;

  font-family: 'Carter One', cursive;

  border-radius: 5px;  

}



li {

  float: left;

}



li a {

  display: block;

  color: white;

  text-align: center;

  padding: 14px 16px;

  text-decoration: none;

  font-size:20px;

}



/* Change the link color to #111 (black) on hover */

li a:hover {

  background-color: #0b2b83;

}



body {

  background-image: url(https://i.pinimg.com/originals/e6/0b/5b/e60b5b7c8888f8bdf5d6006cdd3f2c49.jpg);

}



h1 {

  display: inline;

}



#nav {

  opacity: .8;

  margin: 1%;

}
